.todos {
  list-style: none;
  padding: 0 2rem;
  li {
    margin: 0.35rem 0;
    padding: 0.35rem;
    transition: all 0.3s linear;
    &:hover {
      background-color: #333;
      color: #fff;
    }
  }
}
